.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 0;
}

.list {
    display: flex;
    align-items: center;
}

.link {
    text-decoration: none;
    color: inherit;
}


.item {
    position: relative;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    color: var(--white);
}

.item:not(:first-child) {
    margin-left: 24px;
}

.item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: transparent;
    transition: 0.3s;
}

.item:hover::after {
    background-color: var(--white);
}





.burger__menu_btn {
    display: none;
}

.burger__block {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background-color: var(--white);
    padding: 28px 16px;
    z-index: 99999;
}

.burger__menu_btn::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
}

.cloce__burger {
    position: relative;
    padding: 10px; /* Увеличиваем область клика с помощью паддинга */
    background: none;
    border: none;
    cursor: pointer;
}

.cloce__burger::before {
    content: '';
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
}

.burger__logo_block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    border-bottom: 1px solid  var(--light-gray);
}

.list__burger {
    padding-left: 0;
}

.item__burger {
    padding: 16px 0;
    border-bottom: 1px solid  var(--light-gray);
}

.link__burger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 178%;
    color: var(--gray);
    text-decoration: none;
}

@media(max-width: 790px) {
    .list {
        display: none;
    }

    .burger__menu_btn {
        display: block;
    }
}